body {
	display: flex;
	justify-content: center;
	align-items: center;
	max-height: 100dvh;
	height: 98dvh;
	font-family: Arial, Helvetica, sans-serif;
}

header {
	text-align: center;
}

#page {
	padding: 30px;
	padding-bottom: 50px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	background: #ccc;
	margin: 0 auto;
	width: 50%;
	display: flex;
	flex-flow: column;
	gap: 25px;
}

.fields-group {
	/* position: relative; */
	display: flex;
	flex-flow: column;
	gap: 25px;
}

.field-row {
	position: relative;
	display: flex;
	flex-flow: column;
	gap: 10px;
}

.field-row input {
	border: 1px solid black;
	border-radius: 8px;
	padding: 10px;
}

.field-row textarea {
	border: 1px solid black;
	padding: 10px;
	border-radius: 8px;
	font-family: Arial, Helvetica, sans-serif;
	height: 150px;
}

.field-row label {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bolder;
}

.buttons {
	position: absolute;
	right: 0px;
	top: 0px;
	display: flex;
	flex-flow: row !important;
	width: fit-content;
	gap: 10px;
}

.buttons button {
	border: 1px solid black;
	border-radius: 5px;
	padding: 8px;
}

.buttons button:disabled {
	border: 1px solid red;
}

#feedback {
	border-radius: 8px;
	padding: 10px;
	border: 1px solid black;
	width: 40% !important;
	max-height: 100px;
}
#feedback p {
	padding: 10px;
}

.noClick {
	cursor: not-allowed;
}
.field-error {
	margin: 0px;
}
