* {
	margin: 0px;
	padding: 0px;
}
body {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	gap: 15px;
	margin-top: 10px;
}

header {
	border: 1px solid black;
	padding: 20px 10px;
	width: 95%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .search {
	display: inline-block;
	position: relative;
}

header .search input {
	padding-right: 32px; /* espaço para o ícone à direita */
	height: 32px;
	font-size: 16px;
}

header .search i {
	position: absolute;
	right: 8px;
	top: 7px;
	color: #888;
	pointer-events: none;
	font-size: 18px;
}

.menu {
	border: 1px solid black;
	padding: 0 10px;
	font-weight: bold;
	width: 95%;
	background-color: silver;
}

.menu ul {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	list-style: none;
}

.menu ul li {
	border: 1px solid black;
	position: relative;
	background-color: silver;
	padding: 10px;
	transition: all 0.3s;
}

.menu ul li:hover {
	background-color: rgb(228, 227, 227);
	cursor: pointer;
}

ul.dropdown {
	display: none;
	position: absolute;
	background-color: silver;
	top: 100%;
	left: 0px;
	z-index: 100;
}

#drop:hover ul.dropdown,
ul.dropdown li:hover {
	display: block !important;
}

ul.dropdown li {
	border: 1px solid black;
	width: 100%;
	display: block;
}
.dropdown li:hover {
	background-color: rgb(228, 227, 227) !important;
}

main {
	display: flex;
	padding: 20px 10px;
	border: 1px solid black;
	width: 95%;
	gap: 15px;
	justify-content: space-between;
}

main section {
	width: 70%;
	display: flex;
	flex-flow: column wrap;
	border: 1px solid black;
}

main section .hightlight {
	position: relative;
	border: 1px solid black;
	margin: 10px;
}

.readMore {
	position: absolute;
	right: 10px;
	bottom: 10px;
	border-bottom: 2px solid transparent;
}
.readMore:hover {
	cursor: pointer;
	border-bottom: 2px solid silver;
}

main section .hightlight img {
	float: left;
	margin: 5px;
}

main section .bottom {
	margin: 10px;
	display: flex;
	justify-content: space-between;
}

main section .bottom article {
	position: relative;
	padding-bottom: 20px;
	border: 1px solid black;
	width: 45%;
	height: fit-content;
}
.bottom article .text {
	position: relative;
	padding-bottom: 30px;
}

.bottom article p {
	padding: 10px;
	margin-bottom: 5px;
}

.bottom article ul {
	margin: 25px;
}

.title {
	padding: 10px 0;
	border-bottom: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}

main aside {
	width: 30%;
	border: 1px solid black;
}

main aside .lidos {
	padding: 10px;
	margin: 20px;
}

main aside .container {
	padding: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}

main aside .container .item {
	background-color: rgb(214, 214, 214);
	padding: 50px;
}

footer {
	width: 95%;
	max-width: 100%;
	padding: 20px 10px;
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
